main {
  min-height: 80vh;
  padding-top: 1rem;
}

a {
  text-decoration: none;
}

.shadow-box {
  border-radius: 0.3rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  letter-spacing: 2px;
}

strong {
  font-weight: bold;
}
